
<div class="menu">
    <div class="item facebook">
        <a href="https://www.facebook.com/DumbartonandDistrictMAC" target="_blank"><img src="/image/fb_findus.png" alt="Facebook"></a>
    </div>
    <div class="item links">
        <a href="/docs/Dadmac_Club_Privacy_Policy.pdf" target="_blank">Dadmac Club Privacy Policy</a>
        <a href="/docs/DADMAC_Club_Rules_2024.pdf" target="_blank">Club Rules</a>
    </div>
</div>
<p class="copyright">Copyright {{ now.Year }}. All rights reserved.</p>

